In [1]:
import pandas as pd
import numpy as np

In [2]:
client = pd.read_csv("CoopersUnion_eval_clientinfo_201712291322.csv")
studies = pd.read_csv("coopersunion_eval_studies_data_201712281747.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
combined = studies.merge(client, left_on="hhid", right_on="household_id", how="left")
combined.head()

,hhid,action_type,bc_id,activity_id,benefit_id,programname,case_type,category,benefit_type,systemdate,...,num_adults,num_children,num_hhmem,archived,state,zip_code,intake_type,referral_type,household_member_id,system_date
0,3,created,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,3.0,NaN,NaN,11368.0,unsent,NaN,3,2015-04-17
1,7,application_submission,"149,028","89,342",9.0,Earned Income Tax Credit,cash_household,taxes,ScreenerBenefit,2017-02-07 16:32:53,...,2.0,NaN,2.0,NaN,NY,10029.0,provider-created,intake_screening,10,2015-04-20
2,7,assessed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,2.0,NaN,NY,10029.0,provider-created,intake_screening,10,2015-04-20
3,7,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,2.0,NaN,NY,10029.0,provider-created,intake_screening,10,2015-04-20
4,7,created,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,2.0,NaN,NY,10029.0,provider-created,intake_screening,10,2015-04-20

In [6]:
combined.to_csv("SingleStop_Combined.csv")